*{
 padding: 0;
 margin: 0;
 text-decoration: none;
 list-style-type: none;
 font-family: 'Roboto', sans-serif;
}

@import './sass-partials/list';
@import './sass-partials/card-9';
@import './sass-partials/filters';
